# Logs
logs
*.log

# Dependency directories
node_modules/

# Built files
dist/
build/

# Environment variables
.env

# IDE and editor specific files
.vscode/
.idea/
*.iml
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
